{
  "openapi": "3.1.0",
  "info": {
    "title": "PURPS API",
    "version": "2.0.0",
    "description": "Everything purps.lol can do, as JSON. Read the coin list, a coin's full page and the launchpad; launch coins on purps.lol, pump.fun and Pons; wire an existing pump.fun coin's fees into a strategy; steer a coin you own. No key, no signup. A launch is one call that returns unsigned transactions: the launch transaction can only land with your wallet's signature, and that is the proof. The few writes that need a message signature (Pons launches, wiring a strategy onto a coin, creator authority) come as a prepare/submit pair. Every transaction is signed in your wallet, never by us. Every response is `{ ok: true, data }` or `{ ok: false, error }`. Cross-origin requests are allowed from any site. Cacheable reads carry `RateLimit-Limit` and `RateLimit-Policy`; uncached responses (writes, prepare and submit, refusals) carry `RateLimit-Remaining` and `RateLimit-Reset` as well."
  },
  "servers": [
    {
      "url": "https://purps.lol/api/v2"
    }
  ],
  "tags": [
    {
      "name": "Coins",
      "description": "Read what the site shows."
    },
    {
      "name": "Launch on purps.lol",
      "description": "Launch a coin on purps.lol. Build, sign, send, poll."
    },
    {
      "name": "Launch on pump.fun",
      "description": "Launch straight on pump.fun with fees wired to a strategy."
    },
    {
      "name": "Launch on Pons",
      "description": "Launch through Pons, the launchpad on Robinhood Chain."
    },
    {
      "name": "Redirect a pump.fun coin",
      "description": "Point an existing pump.fun coin's creator fees at a strategy."
    },
    {
      "name": "Manage a coin",
      "description": "Attach a strategy to a coin launched without one. Creator-signed."
    },
    {
      "name": "Creator authority",
      "description": "Steer a purps.lol coin you own: act on a position, change its strategy, ask for authority, or hand the coin on. Every move is signed by the owner's wallet and published on the coin's Changes tab."
    },
    {
      "name": "Transactions",
      "description": "Send a signed Solana transaction through our relay and watch it land."
    }
  ],
  "paths": {
    "/coins": {
      "get": {
        "tags": [
          "Coins"
        ],
        "operationId": "listCoins",
        "summary": "List coins",
        "description": "Every visible coin on the platform, one page at a time, with market data. The same list the /coins page draws, in the same order. Fifty a page at most; to get every coin's identity in one call, use /index instead of paging. An unknown parameter or value is a 400, not a silent default.",
        "parameters": [
          {
            "name": "sort",
            "in": "query",
            "description": "Order of the list: market cap, perp earnings, tokens burned, fees claimed, bought back, open positions, holder count, reserve balance, paid to holders, or newest first.",
            "schema": {
              "type": "string",
              "enum": [
                "mcap",
                "earnings",
                "burned",
                "fees",
                "buyback",
                "active",
                "holders",
                "reserve",
                "paid",
                "newest"
              ],
              "default": "mcap"
            }
          },
          {
            "name": "order",
            "in": "query",
            "description": "Which end of the sort comes first: `desc` (largest or newest first) or `asc`. Coins with no figure for the sort sit last either way.",
            "schema": {
              "type": "string",
              "enum": [
                "desc",
                "asc"
              ],
              "default": "desc"
            }
          },
          {
            "name": "offset",
            "in": "query",
            "description": "How many coins to skip.",
            "schema": {
              "type": "integer",
              "default": 0,
              "minimum": 0
            }
          },
          {
            "name": "limit",
            "in": "query",
            "description": "Page size.",
            "schema": {
              "type": "integer",
              "default": 25,
              "minimum": 1,
              "maximum": 50
            }
          },
          {
            "name": "filter",
            "in": "query",
            "description": "Keep only coins that match every listed fact, comma-separated: `holders` pays its holders, `live` has an open perp position, `earning` is in profit, `strategy` runs a strategy at all.",
            "schema": {
              "type": "string",
              "example": "holders,live"
            }
          },
          {
            "name": "origin",
            "in": "query",
            "description": "Where the coin was born: our launchpad, pump.fun through this site, or a coin that was redirected here.",
            "schema": {
              "type": "string",
              "enum": [
                "launchpad",
                "pumpfun",
                "redirects"
              ]
            }
          },
          {
            "name": "chain",
            "in": "query",
            "description": "Which chain.",
            "schema": {
              "type": "string",
              "enum": [
                "both",
                "solana",
                "robinhood"
              ],
              "default": "both"
            }
          },
          {
            "name": "market",
            "in": "query",
            "description": "Only coins whose strategy bets on this perp market, by symbol. The response's `markets` lists every symbol in use.",
            "schema": {
              "type": "string",
              "example": "BTC"
            }
          },
          {
            "name": "side",
            "in": "query",
            "description": "Only coins with a long, or a short, leg.",
            "schema": {
              "type": "string",
              "enum": [
                "long",
                "short"
              ]
            }
          },
          {
            "name": "mcap",
            "in": "query",
            "description": "A market-cap band in USD. Coins with no known cap are left out.",
            "schema": {
              "type": "string",
              "enum": [
                "under10k",
                "10k-100k",
                "100k-1m",
                "over1m"
              ]
            }
          },
          {
            "name": "holders",
            "in": "query",
            "description": "The fewest wallets the coin must have. Coins not yet counted are left out.",
            "schema": {
              "type": "string",
              "enum": [
                "10",
                "100",
                "1000"
              ]
            }
          },
          {
            "name": "age",
            "in": "query",
            "description": "Only coins created within the window.",
            "schema": {
              "type": "string",
              "enum": [
                "24h",
                "7d",
                "30d"
              ]
            }
          }
        ],
        "x-rate-limit": "60 a minute",
        "x-cache": "10 seconds",
        "x-example": "/coins?sort=newest&limit=5",
        "responses": {
          "200": {
            "description": "A page of coins.",
            "content": {
              "application/json": {
                "schema": {
                  "type": "object",
                  "properties": {
                    "ok": {
                      "type": "boolean",
                      "enum": [
                        true
                      ]
                    },
                    "data": {
                      "$ref": "#/components/schemas/CoinPage"
                    }
                  }
                }
              }
            }
          },
          "400": {
            "description": "Every failure carries the same envelope.",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/Error"
                }
              }
            }
          },
          "429": {
            "description": "Every failure carries the same envelope.",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/Error"
                }
              }
            }
          }
        }
      }
    },
    "/coins/{mint}": {
      "get": {
        "tags": [
          "Coins"
        ],
        "operationId": "getCoin",
        "summary": "One coin",
        "description": "Everything the coin page shows: identity, market cap, holders, links, the strategy it runs, its books, open perp positions, the last 40 events on its timeline and its launch if it came from purps.lol.",
        "parameters": [
          {
            "name": "mint",
            "in": "path",
            "required": true,
            "description": "The token's mint address (Solana) or contract address (Robinhood Chain).",
            "schema": {
              "type": "string"
            }
          }
        ],
        "x-rate-limit": "30 a minute",
        "x-cache": "5 seconds",
        "x-example": "/coins/{mint}",
        "responses": {
          "200": {
            "description": "The coin.",
            "content": {
              "application/json": {
                "schema": {
                  "type": "object",
                  "properties": {
                    "ok": {
                      "type": "boolean",
                      "enum": [
                        true
                      ]
                    },
                    "data": {
                      "$ref": "#/components/schemas/Coin"
                    }
                  }
                }
              }
            }
          },
          "404": {
            "description": "Every failure carries the same envelope.",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/Error"
                }
              }
            }
          },
          "429": {
            "description": "Every failure carries the same envelope.",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/Error"
                }
              }
            }
          }
        }
      }
    },
    "/index": {
      "get": {
        "tags": [
          "Coins"
        ],
        "operationId": "listIndex",
        "summary": "Flat index",
        "description": "Every coin's identity in one list, no market data. For indexers and agents that want the whole set in one call.",
        "x-rate-limit": "60 a minute",
        "x-cache": "60 seconds",
        "x-example": "/index",
        "responses": {
          "200": {
            "description": "Every coin.",
            "content": {
              "application/json": {
                "schema": {
                  "type": "object",
                  "properties": {
                    "ok": {
                      "type": "boolean",
                      "enum": [
                        true
                      ]
                    },
                    "data": {
                      "type": "array",
                      "items": {
                        "$ref": "#/components/schemas/CoinRef"
                      }
                    }
                  }
                }
              }
            }
          },
          "429": {
            "description": "Every failure carries the same envelope.",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/Error"
                }
              }
            }
          }
        }
      }
    },
    "/search": {
      "get": {
        "tags": [
          "Coins"
        ],
        "operationId": "searchCoins",
        "summary": "Search",
        "description": "Find coins by ticker, name or the start of a mint address. Up to 8 hits, best first.",
        "parameters": [
          {
            "name": "q",
            "in": "query",
            "required": true,
            "description": "At least two characters.",
            "schema": {
              "type": "string"
            }
          }
        ],
        "x-rate-limit": "60 a minute",
        "x-cache": "10 seconds",
        "x-example": "/search?q=purps",
        "responses": {
          "200": {
            "description": "The hits.",
            "content": {
              "application/json": {
                "schema": {
                  "type": "object",
                  "properties": {
                    "ok": {
                      "type": "boolean",
                      "enum": [
                        true
                      ]
                    },
                    "data": {
                      "type": "array",
                      "items": {
                        "$ref": "#/components/schemas/CoinRef"
                      }
                    }
                  }
                }
              }
            }
          },
          "400": {
            "description": "Every failure carries the same envelope.",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/Error"
                }
              }
            }
          },
          "429": {
            "description": "Every failure carries the same envelope.",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/Error"
                }
              }
            }
          }
        }
      }
    },
    "/launches": {
      "get": {
        "tags": [
          "Coins"
        ],
        "operationId": "listLaunches",
        "summary": "Coins launched on purps.lol",
        "description": "Coins launched on purps.lol, newest first, with curve progress, what they raised and what they have paid holders. Filter by status, curve or pair; page with limit and offset. The `X-Total-Count` response header carries the size of the whole filtered set. An unknown parameter or value is a 400, not a silent default.",
        "parameters": [
          {
            "name": "status",
            "in": "query",
            "description": "`live` for coins still on their curve, `migrated` for graduated ones. Both when omitted.",
            "schema": {
              "type": "string",
              "enum": [
                "live",
                "migrated"
              ]
            }
          },
          {
            "name": "curve",
            "in": "query",
            "description": "The bonding-curve program the coin launched on: `meteora` (every launch since September 2026) or `launchlab` (the first launches, on Raydium LaunchLab, no longer offered).",
            "schema": {
              "type": "string",
              "enum": [
                "meteora",
                "launchlab"
              ]
            }
          },
          {
            "name": "quoteMint",
            "in": "query",
            "description": "Only launches paired with this token, e.g. SOL or a stock mint from /pairs.",
            "schema": {
              "type": "string"
            }
          },
          {
            "name": "limit",
            "in": "query",
            "description": "Page size.",
            "schema": {
              "type": "integer",
              "default": 60,
              "minimum": 1,
              "maximum": 100
            }
          },
          {
            "name": "offset",
            "in": "query",
            "description": "How many launches to skip.",
            "schema": {
              "type": "integer",
              "default": 0,
              "minimum": 0
            }
          }
        ],
        "x-rate-limit": "60 a minute",
        "x-cache": "5 seconds",
        "x-example": "/launches",
        "responses": {
          "200": {
            "description": "The launches, newest first. The `X-Total-Count` header is the whole filtered set.",
            "content": {
              "application/json": {
                "schema": {
                  "type": "object",
                  "properties": {
                    "ok": {
                      "type": "boolean",
                      "enum": [
                        true
                      ]
                    },
                    "data": {
                      "type": "array",
                      "items": {
                        "$ref": "#/components/schemas/Launch"
                      }
                    }
                  }
                }
              }
            }
          },
          "400": {
            "description": "Every failure carries the same envelope.",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/Error"
                }
              }
            }
          },
          "429": {
            "description": "Every failure carries the same envelope.",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/Error"
                }
              }
            }
          }
        }
      },
      "post": {
        "tags": [
          "Launch on purps.lol"
        ],
        "operationId": "buildLaunch",
        "summary": "Build a purps.lol launch",
        "description": "One call, no message to sign. Send the launch's terms, the coin's image and socials. We upload the metadata, build the launch transaction (and a SOL-to-pair swap in front of it when the pair is not SOL and there is a dev buy), simulate it, and record the launch as pending. You get back unsigned transactions and the throwaway mint key. The launch transaction can only land with the creator wallet's signature, and that is the proof: sign each transaction with the creator wallet, and the one at `createIndex` with the mint key as well, then send them in order through /transactions/send. The launch goes live on its own once the pool exists on chain; poll /launches/{mint}. A wallet the launchpad does not admit is refused with a 403 before anything is uploaded; a wallet that cannot afford the launch (about 0.03 SOL plus the dev buy) with a 400. `imageUrl` fetches are budgeted (20 an hour per address, 200 an hour site-wide); a 429 naming image fetches means send `image` as a data URL instead.",
        "requestBody": {
          "required": true,
          "content": {
            "application/json": {
              "schema": {
                "$ref": "#/components/schemas/LaunchBuild"
              }
            }
          }
        },
        "x-rate-limit": "10 a minute",
        "x-cache": "none",
        "x-flow": "launch-solana",
        "x-example": "/launches",
        "responses": {
          "200": {
            "description": "The transactions to sign.",
            "content": {
              "application/json": {
                "schema": {
                  "type": "object",
                  "properties": {
                    "ok": {
                      "type": "boolean",
                      "enum": [
                        true
                      ]
                    },
                    "data": {
                      "$ref": "#/components/schemas/SolanaBuild"
                    }
                  }
                }
              }
            }
          },
          "400": {
            "description": "Every failure carries the same envelope.",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/Error"
                }
              }
            }
          },
          "403": {
            "description": "Every failure carries the same envelope.",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/Error"
                }
              }
            }
          },
          "409": {
            "description": "Every failure carries the same envelope.",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/Error"
                }
              }
            }
          },
          "413": {
            "description": "Every failure carries the same envelope.",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/Error"
                }
              }
            }
          },
          "429": {
            "description": "Every failure carries the same envelope.",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/Error"
                }
              }
            }
          },
          "503": {
            "description": "Every failure carries the same envelope.",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/Error"
                }
              }
            }
          }
        }
      }
    },
    "/markets": {
      "get": {
        "tags": [
          "Coins"
        ],
        "operationId": "listMarkets",
        "summary": "Perp markets",
        "description": "The perpetual futures markets a strategy can hold, with each one's leverage cap. A strategy's `perpLegs` must name markets from this list and stay within the cap.",
        "x-rate-limit": "60 a minute",
        "x-cache": "30 seconds",
        "x-example": "/markets",
        "responses": {
          "200": {
            "description": "The markets.",
            "content": {
              "application/json": {
                "schema": {
                  "type": "object",
                  "properties": {
                    "ok": {
                      "type": "boolean",
                      "enum": [
                        true
                      ]
                    },
                    "data": {
                      "type": "array",
                      "items": {
                        "$ref": "#/components/schemas/Market"
                      }
                    }
                  }
                }
              }
            }
          },
          "429": {
            "description": "Every failure carries the same envelope.",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/Error"
                }
              }
            }
          }
        }
      }
    },
    "/pairs": {
      "get": {
        "tags": [
          "Coins"
        ],
        "operationId": "listPairs",
        "summary": "Launch pairs",
        "description": "The tokens a new coin can be paired with, per launchpad: `purps` for purps.lol, `pumpfun` for pump.fun, `pons` for Pons. A launch names one of these as its quote.",
        "x-rate-limit": "60 a minute",
        "x-cache": "60 seconds",
        "x-example": "/pairs",
        "responses": {
          "200": {
            "description": "The pairs by launchpad.",
            "content": {
              "application/json": {
                "schema": {
                  "type": "object",
                  "properties": {
                    "ok": {
                      "type": "boolean",
                      "enum": [
                        true
                      ]
                    },
                    "data": {
                      "$ref": "#/components/schemas/Pairs"
                    }
                  }
                }
              }
            }
          },
          "429": {
            "description": "Every failure carries the same envelope.",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/Error"
                }
              }
            }
          }
        }
      }
    },
    "/launch-options": {
      "get": {
        "tags": [
          "Launch on purps.lol"
        ],
        "operationId": "getLaunchOptions",
        "summary": "Launch options",
        "description": "Everything the create page knows before a launch is built, launchpad by launchpad (purps.lol, pump.fun, Pons): who may launch there right now, where its pairs are listed, which fee presets it takes, its fee terms, and what holders can be paid in. Plus the three strategy presets exactly as the site turns them into a config, and the airdrop-only config. Read this once, then pick a pair from /pairs and markets from /markets.",
        "x-rate-limit": "60 a minute",
        "x-cache": "10 seconds",
        "x-flow": "launch-solana",
        "x-example": "/launch-options",
        "responses": {
          "200": {
            "description": "The options.",
            "content": {
              "application/json": {
                "schema": {
                  "type": "object",
                  "properties": {
                    "ok": {
                      "type": "boolean",
                      "enum": [
                        true
                      ]
                    },
                    "data": {
                      "$ref": "#/components/schemas/LaunchOptions"
                    }
                  }
                }
              }
            }
          },
          "429": {
            "description": "Every failure carries the same envelope.",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/Error"
                }
              }
            }
          }
        }
      }
    },
    "/launches/{mint}": {
      "get": {
        "tags": [
          "Launch on purps.lol"
        ],
        "operationId": "getLaunch",
        "summary": "Launch status",
        "description": "Where a launch is: `pending` until its pool is seen on chain, then `live`, `migrated` once it graduates, or `failed` if it never landed. Poll this after sending.",
        "parameters": [
          {
            "name": "mint",
            "in": "path",
            "required": true,
            "description": "The token's mint address (Solana) or contract address (Robinhood Chain).",
            "schema": {
              "type": "string"
            }
          }
        ],
        "x-rate-limit": "120 a minute",
        "x-cache": "3 seconds",
        "x-flow": "launch-solana",
        "x-example": "/launches/{mint}",
        "responses": {
          "200": {
            "description": "The launch.",
            "content": {
              "application/json": {
                "schema": {
                  "type": "object",
                  "properties": {
                    "ok": {
                      "type": "boolean",
                      "enum": [
                        true
                      ]
                    },
                    "data": {
                      "$ref": "#/components/schemas/LaunchStatus"
                    }
                  }
                }
              }
            }
          },
          "404": {
            "description": "Every failure carries the same envelope.",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/Error"
                }
              }
            }
          },
          "429": {
            "description": "Every failure carries the same envelope.",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/Error"
                }
              }
            }
          }
        }
      }
    },
    "/pumpfun/launches": {
      "post": {
        "tags": [
          "Launch on pump.fun"
        ],
        "operationId": "buildPumpLaunch",
        "summary": "Build a pump.fun launch",
        "description": "One call, no message to sign. Builds the pump.fun create transaction with the coin's creator fees already pointed at the coin's PURPS wallet; the create transaction is the proof. Sign with the creator wallet and the mint key, send through /transactions/send, then call /pumpfun/fees to lock the fee routing and /redirects to attach the strategy. The creator wallet needs about 0.04 SOL plus the dev buy (0.045 with a custom pair) or the build is refused with a 400; a wallet the launchpad does not admit gets a 403. `imageUrl` fetches are budgeted (20 an hour per address, 200 an hour site-wide); a 429 naming image fetches means send `image` as a data URL instead.",
        "requestBody": {
          "required": true,
          "content": {
            "application/json": {
              "schema": {
                "$ref": "#/components/schemas/PumpLaunchBuild"
              }
            }
          }
        },
        "x-rate-limit": "10 a minute",
        "x-cache": "none",
        "x-flow": "launch-pumpfun",
        "x-example": "/pumpfun/launches",
        "responses": {
          "200": {
            "description": "The transactions to sign.",
            "content": {
              "application/json": {
                "schema": {
                  "type": "object",
                  "properties": {
                    "ok": {
                      "type": "boolean",
                      "enum": [
                        true
                      ]
                    },
                    "data": {
                      "$ref": "#/components/schemas/SolanaBuild"
                    }
                  }
                }
              }
            }
          },
          "400": {
            "description": "Every failure carries the same envelope.",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/Error"
                }
              }
            }
          },
          "403": {
            "description": "Every failure carries the same envelope.",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/Error"
                }
              }
            }
          },
          "413": {
            "description": "Every failure carries the same envelope.",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/Error"
                }
              }
            }
          },
          "429": {
            "description": "Every failure carries the same envelope.",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/Error"
                }
              }
            }
          },
          "503": {
            "description": "Every failure carries the same envelope.",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/Error"
                }
              }
            }
          }
        }
      }
    },
    "/pumpfun/fees": {
      "post": {
        "tags": [
          "Launch on pump.fun"
        ],
        "operationId": "pumpFeeRouting",
        "summary": "Lock fee routing",
        "description": "Step 3 for a pump.fun coin, and the first step for redirecting one you already own. Builds pump.fun's fee-sharing transaction that sends the coin's creator fees to its PURPS wallet permanently. Only the coin's on-chain creator can sign it. `done: true` means it is already in place.",
        "requestBody": {
          "required": true,
          "content": {
            "application/json": {
              "schema": {
                "$ref": "#/components/schemas/PumpFees"
              }
            }
          }
        },
        "x-rate-limit": "30 a minute",
        "x-cache": "none",
        "x-flow": "launch-pumpfun",
        "x-example": "/pumpfun/fees",
        "responses": {
          "200": {
            "description": "The transaction, or done.",
            "content": {
              "application/json": {
                "schema": {
                  "type": "object",
                  "properties": {
                    "ok": {
                      "type": "boolean",
                      "enum": [
                        true
                      ]
                    },
                    "data": {
                      "$ref": "#/components/schemas/FeeRouting"
                    }
                  }
                }
              }
            }
          },
          "400": {
            "description": "Every failure carries the same envelope.",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/Error"
                }
              }
            }
          },
          "404": {
            "description": "Every failure carries the same envelope.",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/Error"
                }
              }
            }
          },
          "409": {
            "description": "Every failure carries the same envelope.",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/Error"
                }
              }
            }
          },
          "429": {
            "description": "Every failure carries the same envelope.",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/Error"
                }
              }
            }
          }
        }
      }
    },
    "/redirects/{mint}": {
      "get": {
        "tags": [
          "Redirect a pump.fun coin"
        ],
        "operationId": "getRedirect",
        "summary": "Check a pump.fun coin",
        "description": "Whether a pump.fun coin's creator fees already point at its PURPS wallet, who its creator is, and whether it is registered here. `feeWallet` is the address its fees must go to.",
        "parameters": [
          {
            "name": "mint",
            "in": "path",
            "required": true,
            "description": "The token's mint address (Solana) or contract address (Robinhood Chain).",
            "schema": {
              "type": "string"
            }
          }
        ],
        "x-rate-limit": "10 a minute",
        "x-cache": "30 seconds",
        "x-flow": "redirect",
        "x-example": "/redirects/{mint}",
        "responses": {
          "200": {
            "description": "The coin's fee status.",
            "content": {
              "application/json": {
                "schema": {
                  "type": "object",
                  "properties": {
                    "ok": {
                      "type": "boolean",
                      "enum": [
                        true
                      ]
                    },
                    "data": {
                      "$ref": "#/components/schemas/Redirect"
                    }
                  }
                }
              }
            }
          },
          "404": {
            "description": "Every failure carries the same envelope.",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/Error"
                }
              }
            }
          },
          "429": {
            "description": "Every failure carries the same envelope.",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/Error"
                }
              }
            }
          }
        }
      }
    },
    "/redirects": {
      "post": {
        "tags": [
          "Redirect a pump.fun coin"
        ],
        "operationId": "submitRedirect",
        "summary": "Register the strategy",
        "description": "Once a pump.fun coin's fees point at its PURPS wallet, this registers the strategy that will run on them. No signature: the on-chain fee routing is the proof of authority. `registered: false` with a `feeWallet` means the fees are not routed yet, or the chain has not shown us the routing yet: wait a few seconds and call again.",
        "requestBody": {
          "required": true,
          "content": {
            "application/json": {
              "schema": {
                "$ref": "#/components/schemas/RedirectSubmit"
              }
            }
          }
        },
        "x-rate-limit": "10 a minute",
        "x-cache": "none",
        "x-flow": "redirect",
        "x-example": "/redirects",
        "responses": {
          "200": {
            "description": "Registered, or what is missing.",
            "content": {
              "application/json": {
                "schema": {
                  "type": "object",
                  "properties": {
                    "ok": {
                      "type": "boolean",
                      "enum": [
                        true
                      ]
                    },
                    "data": {
                      "$ref": "#/components/schemas/RedirectResult"
                    }
                  }
                }
              }
            }
          },
          "403": {
            "description": "Every failure carries the same envelope.",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/Error"
                }
              }
            }
          },
          "404": {
            "description": "Every failure carries the same envelope.",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/Error"
                }
              }
            }
          },
          "409": {
            "description": "Every failure carries the same envelope.",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/Error"
                }
              }
            }
          },
          "422": {
            "description": "Every failure carries the same envelope.",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/Error"
                }
              }
            }
          },
          "429": {
            "description": "Every failure carries the same envelope.",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/Error"
                }
              }
            }
          }
        }
      }
    },
    "/pons/launches/prepare": {
      "post": {
        "tags": [
          "Launch on Pons"
        ],
        "operationId": "preparePonsLaunch",
        "summary": "Prepare a Pons launch",
        "description": "Step 1: the message to sign with your EVM wallet (`personal_sign`, EIP-191). Pons is the one launchpad that still signs a message before the build, because launching there is invite-only and the signature is how the invite is checked before anything is spent. The message carries a `launches:` line that spells the launch out in words: name, ticker, pair, creator tax and first buy. Send `devBuy` and `creatorTaxBps` here too when you will send them to submit; they are part of those words.",
        "requestBody": {
          "required": true,
          "content": {
            "application/json": {
              "schema": {
                "$ref": "#/components/schemas/PonsTerms"
              }
            }
          }
        },
        "x-rate-limit": "30 a minute",
        "x-cache": "none",
        "x-flow": "launch-pons",
        "x-example": "/pons/launches/prepare",
        "responses": {
          "200": {
            "description": "What to sign.",
            "content": {
              "application/json": {
                "schema": {
                  "type": "object",
                  "properties": {
                    "ok": {
                      "type": "boolean",
                      "enum": [
                        true
                      ]
                    },
                    "data": {
                      "$ref": "#/components/schemas/Prepared"
                    }
                  }
                }
              }
            }
          },
          "400": {
            "description": "Every failure carries the same envelope.",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/Error"
                }
              }
            }
          },
          "429": {
            "description": "Every failure carries the same envelope.",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/Error"
                }
              }
            }
          }
        }
      }
    },
    "/pons/launches/submit": {
      "post": {
        "tags": [
          "Launch on Pons"
        ],
        "operationId": "submitPonsLaunch",
        "summary": "Build the Pons launch",
        "description": "Step 2. Returns the EVM transactions to send from the creator wallet, in order: an optional swap and approval when there is a dev buy in a token pair, then the launch itself. You send these yourself (there is no relay on Robinhood Chain). Then call /pons/launches/{ref} with the launch transaction hash and register the strategy.",
        "requestBody": {
          "required": true,
          "content": {
            "application/json": {
              "schema": {
                "$ref": "#/components/schemas/PonsSubmit"
              }
            }
          }
        },
        "x-rate-limit": "4 a minute",
        "x-cache": "none",
        "x-flow": "launch-pons",
        "x-example": "/pons/launches/submit",
        "responses": {
          "200": {
            "description": "The steps to send.",
            "content": {
              "application/json": {
                "schema": {
                  "type": "object",
                  "properties": {
                    "ok": {
                      "type": "boolean",
                      "enum": [
                        true
                      ]
                    },
                    "data": {
                      "$ref": "#/components/schemas/PonsBuild"
                    }
                  }
                }
              }
            }
          },
          "400": {
            "description": "Every failure carries the same envelope.",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/Error"
                }
              }
            }
          },
          "401": {
            "description": "Every failure carries the same envelope.",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/Error"
                }
              }
            }
          },
          "403": {
            "description": "Every failure carries the same envelope.",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/Error"
                }
              }
            }
          },
          "409": {
            "description": "Every failure carries the same envelope.",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/Error"
                }
              }
            }
          },
          "429": {
            "description": "Every failure carries the same envelope.",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/Error"
                }
              }
            }
          }
        }
      }
    },
    "/pons/launches/{ref}": {
      "get": {
        "tags": [
          "Launch on Pons"
        ],
        "operationId": "getPonsLaunch",
        "summary": "Find a Pons launch",
        "description": "Resolve a launch by its transaction hash or the token address it created: the token, the creator, the `walletKey` the register step needs, and whether it is registered.",
        "parameters": [
          {
            "name": "ref",
            "in": "path",
            "required": true,
            "description": "The launch transaction hash (0x…64 hex) or the token address.",
            "schema": {
              "type": "string"
            }
          }
        ],
        "x-rate-limit": "30 a minute",
        "x-cache": "none",
        "x-flow": "launch-pons",
        "x-example": "/pons/launches/{ref}",
        "responses": {
          "200": {
            "description": "The launch.",
            "content": {
              "application/json": {
                "schema": {
                  "type": "object",
                  "properties": {
                    "ok": {
                      "type": "boolean",
                      "enum": [
                        true
                      ]
                    },
                    "data": {
                      "$ref": "#/components/schemas/PonsLaunch"
                    }
                  }
                }
              }
            }
          },
          "400": {
            "description": "Every failure carries the same envelope.",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/Error"
                }
              }
            }
          },
          "404": {
            "description": "Every failure carries the same envelope.",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/Error"
                }
              }
            }
          },
          "422": {
            "description": "Every failure carries the same envelope.",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/Error"
                }
              }
            }
          },
          "429": {
            "description": "Every failure carries the same envelope.",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/Error"
                }
              }
            }
          },
          "503": {
            "description": "Every failure carries the same envelope.",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/Error"
                }
              }
            }
          }
        }
      }
    },
    "/pons/assets/{address}": {
      "get": {
        "tags": [
          "Launch on Pons"
        ],
        "operationId": "getPonsAsset",
        "summary": "Check a Pons payout asset",
        "description": "Whether a Robinhood Chain token can be paid out to a Pons coin's holders, the way the create page checks a token pasted in by address: it must have a real Uniswap pool. Use the returned `address` as `payoutMint` in a Robinhood Chain strategy. The catalogue assets are in /pairs under `robinhood` with `payable`.",
        "parameters": [
          {
            "name": "address",
            "in": "path",
            "required": true,
            "description": "The token's contract address.",
            "schema": {
              "type": "string"
            }
          }
        ],
        "x-rate-limit": "60 a minute",
        "x-cache": "60 seconds",
        "x-flow": "launch-pons",
        "x-example": "/pons/assets/{address}",
        "responses": {
          "200": {
            "description": "The asset.",
            "content": {
              "application/json": {
                "schema": {
                  "type": "object",
                  "properties": {
                    "ok": {
                      "type": "boolean",
                      "enum": [
                        true
                      ]
                    },
                    "data": {
                      "$ref": "#/components/schemas/PonsAsset"
                    }
                  }
                }
              }
            }
          },
          "400": {
            "description": "Every failure carries the same envelope.",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/Error"
                }
              }
            }
          },
          "404": {
            "description": "Every failure carries the same envelope.",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/Error"
                }
              }
            }
          },
          "429": {
            "description": "Every failure carries the same envelope.",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/Error"
                }
              }
            }
          },
          "503": {
            "description": "Every failure carries the same envelope.",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/Error"
                }
              }
            }
          }
        }
      }
    },
    "/pons/register/prepare": {
      "post": {
        "tags": [
          "Launch on Pons"
        ],
        "operationId": "preparePonsRegister",
        "summary": "Prepare the registration",
        "description": "The message to sign to attach a strategy to a Pons launch you sent.",
        "requestBody": {
          "required": true,
          "content": {
            "application/json": {
              "schema": {
                "$ref": "#/components/schemas/PonsRegisterTerms"
              }
            }
          }
        },
        "x-rate-limit": "30 a minute",
        "x-cache": "none",
        "x-flow": "launch-pons",
        "x-example": "/pons/register/prepare",
        "responses": {
          "200": {
            "description": "What to sign.",
            "content": {
              "application/json": {
                "schema": {
                  "type": "object",
                  "properties": {
                    "ok": {
                      "type": "boolean",
                      "enum": [
                        true
                      ]
                    },
                    "data": {
                      "$ref": "#/components/schemas/Prepared"
                    }
                  }
                }
              }
            }
          },
          "400": {
            "description": "Every failure carries the same envelope.",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/Error"
                }
              }
            }
          },
          "429": {
            "description": "Every failure carries the same envelope.",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/Error"
                }
              }
            }
          }
        }
      }
    },
    "/pons/register/submit": {
      "post": {
        "tags": [
          "Launch on Pons"
        ],
        "operationId": "submitPonsRegister",
        "summary": "Register the strategy",
        "description": "Attach the strategy to the launched coin. `registered: false` with a `reason` means the launch is not confirmed or indexed yet; wait and retry. `dropped: true` means the chain has no record of the transaction at all. A 503 means a payout asset could not be checked just now; try again in a moment.",
        "requestBody": {
          "required": true,
          "content": {
            "application/json": {
              "schema": {
                "$ref": "#/components/schemas/PonsRegisterSubmit"
              }
            }
          }
        },
        "x-rate-limit": "10 a minute",
        "x-cache": "none",
        "x-flow": "launch-pons",
        "x-example": "/pons/register/submit",
        "responses": {
          "200": {
            "description": "Registered, or why not yet.",
            "content": {
              "application/json": {
                "schema": {
                  "type": "object",
                  "properties": {
                    "ok": {
                      "type": "boolean",
                      "enum": [
                        true
                      ]
                    },
                    "data": {
                      "$ref": "#/components/schemas/PonsRegisterResult"
                    }
                  }
                }
              }
            }
          },
          "400": {
            "description": "Every failure carries the same envelope.",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/Error"
                }
              }
            }
          },
          "401": {
            "description": "Every failure carries the same envelope.",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/Error"
                }
              }
            }
          },
          "403": {
            "description": "Every failure carries the same envelope.",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/Error"
                }
              }
            }
          },
          "409": {
            "description": "Every failure carries the same envelope.",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/Error"
                }
              }
            }
          },
          "422": {
            "description": "Every failure carries the same envelope.",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/Error"
                }
              }
            }
          },
          "429": {
            "description": "Every failure carries the same envelope.",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/Error"
                }
              }
            }
          },
          "503": {
            "description": "Every failure carries the same envelope.",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/Error"
                }
              }
            }
          }
        }
      }
    },
    "/coins/{mint}/strategy/prepare": {
      "post": {
        "tags": [
          "Manage a coin"
        ],
        "operationId": "prepareStrategy",
        "summary": "Prepare a strategy",
        "description": "For a purps.lol coin that was launched without a strategy: the message the creator wallet signs to attach one now. Attaching routes the whole creator fee into it. Not possible for launches from before September 2026, whose fee vault is owned by the creator's wallet on chain. The `config` is validated here and a malformed one is a 400 that says which field is wrong. The message carries a `sets:` line with the strategy in words (fee split, what profits do, take-profit and dip-buy rules, markets) next to its hash, so whoever signs reads the numbers.",
        "parameters": [
          {
            "name": "mint",
            "in": "path",
            "required": true,
            "description": "The token's mint address (Solana) or contract address (Robinhood Chain).",
            "schema": {
              "type": "string"
            }
          }
        ],
        "requestBody": {
          "required": true,
          "content": {
            "application/json": {
              "schema": {
                "$ref": "#/components/schemas/StrategyTerms"
              }
            }
          }
        },
        "x-rate-limit": "30 a minute",
        "x-cache": "none",
        "x-flow": "manage",
        "x-example": "/coins/{mint}/strategy/prepare",
        "responses": {
          "200": {
            "description": "What to sign.",
            "content": {
              "application/json": {
                "schema": {
                  "type": "object",
                  "properties": {
                    "ok": {
                      "type": "boolean",
                      "enum": [
                        true
                      ]
                    },
                    "data": {
                      "$ref": "#/components/schemas/Prepared"
                    }
                  }
                }
              }
            }
          },
          "400": {
            "description": "Every failure carries the same envelope.",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/Error"
                }
              }
            }
          },
          "429": {
            "description": "Every failure carries the same envelope.",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/Error"
                }
              }
            }
          }
        }
      }
    },
    "/coins/{mint}/strategy/submit": {
      "post": {
        "tags": [
          "Manage a coin"
        ],
        "operationId": "submitStrategy",
        "summary": "Attach the strategy",
        "description": "Register the strategy against the launch. The config must be byte-for-byte what prepare hashed. A coin's strategy is set once.",
        "parameters": [
          {
            "name": "mint",
            "in": "path",
            "required": true,
            "description": "The token's mint address (Solana) or contract address (Robinhood Chain).",
            "schema": {
              "type": "string"
            }
          }
        ],
        "requestBody": {
          "required": true,
          "content": {
            "application/json": {
              "schema": {
                "$ref": "#/components/schemas/StrategySubmit"
              }
            }
          }
        },
        "x-rate-limit": "10 a minute",
        "x-cache": "none",
        "x-flow": "manage",
        "x-example": "/coins/{mint}/strategy/submit",
        "responses": {
          "200": {
            "description": "Registered.",
            "content": {
              "application/json": {
                "schema": {
                  "type": "object",
                  "properties": {
                    "ok": {
                      "type": "boolean",
                      "enum": [
                        true
                      ]
                    },
                    "data": {
                      "$ref": "#/components/schemas/StrategyResult"
                    }
                  }
                }
              }
            }
          },
          "401": {
            "description": "Every failure carries the same envelope.",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/Error"
                }
              }
            }
          },
          "404": {
            "description": "Every failure carries the same envelope.",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/Error"
                }
              }
            }
          },
          "409": {
            "description": "Every failure carries the same envelope.",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/Error"
                }
              }
            }
          },
          "422": {
            "description": "Every failure carries the same envelope.",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/Error"
                }
              }
            }
          },
          "429": {
            "description": "Every failure carries the same envelope.",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/Error"
                }
              }
            }
          }
        }
      }
    },
    "/coins/{mint}/authority": {
      "get": {
        "tags": [
          "Creator authority"
        ],
        "operationId": "getAuthority",
        "summary": "Where creator authority stands",
        "description": "Whether a coin can be steered from outside at all, whether authority is off, on or frozen, who holds it, whether a request is waiting for review, the cooldowns and margin hold running now, and the platform's limits (leverage cap, actions a day, cooldown length, market depth floors, note length). Read it before preparing a change. Nothing here says whether any wallet is a platform admin.",
        "parameters": [
          {
            "name": "mint",
            "in": "path",
            "required": true,
            "description": "The token's mint address (Solana) or contract address (Robinhood Chain).",
            "schema": {
              "type": "string"
            }
          }
        ],
        "x-rate-limit": "60 a minute",
        "x-cache": "3 seconds",
        "x-flow": "authority",
        "x-example": "/coins/{mint}/authority",
        "responses": {
          "200": {
            "description": "The authority state.",
            "content": {
              "application/json": {
                "schema": {
                  "type": "object",
                  "properties": {
                    "ok": {
                      "type": "boolean",
                      "enum": [
                        true
                      ]
                    },
                    "data": {
                      "$ref": "#/components/schemas/Authority"
                    }
                  }
                }
              }
            }
          },
          "400": {
            "description": "Every failure carries the same envelope.",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/Error"
                }
              }
            }
          },
          "404": {
            "description": "Every failure carries the same envelope.",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/Error"
                }
              }
            }
          },
          "429": {
            "description": "Every failure carries the same envelope.",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/Error"
                }
              }
            }
          }
        }
      }
    },
    "/coins/{mint}/changes": {
      "get": {
        "tags": [
          "Creator authority"
        ],
        "operationId": "listChanges",
        "summary": "The Changes log",
        "description": "Every strategy change and position action on the coin, by its owner or an admin, newest first: the coin page's Changes tab. A queued action moves to `done` or `failed` once the engine reports back. An admin's wallet is never named.",
        "parameters": [
          {
            "name": "mint",
            "in": "path",
            "required": true,
            "description": "The token's mint address (Solana) or contract address (Robinhood Chain).",
            "schema": {
              "type": "string"
            }
          },
          {
            "name": "limit",
            "in": "query",
            "description": "How many rows.",
            "schema": {
              "type": "integer",
              "default": 50,
              "minimum": 1,
              "maximum": 100
            }
          },
          {
            "name": "before",
            "in": "query",
            "description": "Only rows created before this ISO 8601 datetime, for paging.",
            "schema": {
              "type": "string"
            }
          }
        ],
        "x-rate-limit": "60 a minute",
        "x-cache": "5 seconds",
        "x-flow": "authority",
        "x-example": "/coins/{mint}/changes?limit=20",
        "responses": {
          "200": {
            "description": "The changes, newest first.",
            "content": {
              "application/json": {
                "schema": {
                  "type": "object",
                  "properties": {
                    "ok": {
                      "type": "boolean",
                      "enum": [
                        true
                      ]
                    },
                    "data": {
                      "type": "array",
                      "items": {
                        "$ref": "#/components/schemas/CoinChange"
                      }
                    }
                  }
                }
              }
            }
          },
          "400": {
            "description": "Every failure carries the same envelope.",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/Error"
                }
              }
            }
          },
          "404": {
            "description": "Every failure carries the same envelope.",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/Error"
                }
              }
            }
          },
          "429": {
            "description": "Every failure carries the same envelope.",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/Error"
                }
              }
            }
          }
        }
      }
    },
    "/coins/{mint}/authority/prepare": {
      "post": {
        "tags": [
          "Creator authority"
        ],
        "operationId": "prepareAuthority",
        "summary": "Prepare a change",
        "description": "Step 1 of a change through creator authority. Say which wallet will sign and what it will do (`kind`: act on a position, change the strategy, ask for authority, or hand the coin on), and get back the exact message to sign plus a `nonce` bound to this coin, this wallet and this exact action. The message is plain English and is the consent: it says what will happen (`does:` or `sets:`) and carries your `why:` note, which holders read on the Changes tab. Sign exactly that string. Nothing is stored or spent here; every check that guards money runs at submit, on the server's own figures. This step only refuses what can never work: the flagship (403), a coin that is not a purps.lol launch or has no strategy yet (404), a frozen coin (423), a request while authority is closed to new coins (403) or already on (409), a malformed action, config or note (400), or a server with signing not set up (503).",
        "parameters": [
          {
            "name": "mint",
            "in": "path",
            "required": true,
            "description": "The token's mint address (Solana) or contract address (Robinhood Chain).",
            "schema": {
              "type": "string"
            }
          }
        ],
        "requestBody": {
          "required": true,
          "content": {
            "application/json": {
              "schema": {
                "$ref": "#/components/schemas/AuthorityPrepare"
              }
            }
          }
        },
        "x-rate-limit": "30 a minute",
        "x-cache": "none",
        "x-flow": "authority",
        "x-example": "/coins/{mint}/authority/prepare",
        "responses": {
          "200": {
            "description": "What to sign.",
            "content": {
              "application/json": {
                "schema": {
                  "type": "object",
                  "properties": {
                    "ok": {
                      "type": "boolean",
                      "enum": [
                        true
                      ]
                    },
                    "data": {
                      "$ref": "#/components/schemas/AuthorityPrepared"
                    }
                  }
                }
              }
            }
          },
          "400": {
            "description": "Every failure carries the same envelope.",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/Error"
                }
              }
            }
          },
          "403": {
            "description": "Every failure carries the same envelope.",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/Error"
                }
              }
            }
          },
          "404": {
            "description": "Every failure carries the same envelope.",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/Error"
                }
              }
            }
          },
          "409": {
            "description": "Every failure carries the same envelope.",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/Error"
                }
              }
            }
          },
          "423": {
            "description": "Every failure carries the same envelope.",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/Error"
                }
              }
            }
          },
          "429": {
            "description": "Every failure carries the same envelope.",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/Error"
                }
              }
            }
          },
          "503": {
            "description": "Every failure carries the same envelope.",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/Error"
                }
              }
            }
          }
        }
      }
    },
    "/coins/{mint}/authority/submit": {
      "post": {
        "tags": [
          "Creator authority"
        ],
        "operationId": "submitAuthority",
        "summary": "Submit the signed change",
        "description": "Step 2: the same body as prepare, plus `ts`, `nonce` and the wallet's `signature` over the message prepare returned (ed25519 over the UTF-8 bytes, base58). The signer must be the wallet named in prepare: the coin's owner, which is whoever holds its creator rewards, or a platform admin wallet. The nonce only fits the wallet, coin and exact action it was issued for, and a signature is good once. Every money check runs here on the server's own figures, so a change the coin page would refuse is refused here too. An `action` is queued for the engine and answers `queued` with the command id; watch /coins/{mint}/changes for done or failed, and /coins/{mint} for the position. A `strategy` change is applied at once and answers `changed`, the lines that differ. A `request` answers the request's `id` and `status`. A `handover` answers the new `payoutWallet`. Refusals: 401 for a bad signature, a nonce not issued for this wallet and action, or a timestamp older than five minutes; 403 when authority is not on for the coin; 409 when the coin is not live, the market already has an action running, nothing changed, or the signature was already used; 422 when a money check refuses it, with the reason; 423 frozen; 429 for the per-day action count or a cooldown still running; the reason says how long.",
        "parameters": [
          {
            "name": "mint",
            "in": "path",
            "required": true,
            "description": "The token's mint address (Solana) or contract address (Robinhood Chain).",
            "schema": {
              "type": "string"
            }
          }
        ],
        "requestBody": {
          "required": true,
          "content": {
            "application/json": {
              "schema": {
                "$ref": "#/components/schemas/AuthoritySubmit"
              }
            }
          }
        },
        "x-rate-limit": "10 a minute",
        "x-cache": "none",
        "x-flow": "authority",
        "x-example": "/coins/{mint}/authority/submit",
        "responses": {
          "200": {
            "description": "Queued, applied, requested or handed over.",
            "content": {
              "application/json": {
                "schema": {
                  "type": "object",
                  "properties": {
                    "ok": {
                      "type": "boolean",
                      "enum": [
                        true
                      ]
                    },
                    "data": {
                      "$ref": "#/components/schemas/AuthorityResult"
                    }
                  }
                }
              }
            }
          },
          "400": {
            "description": "Every failure carries the same envelope.",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/Error"
                }
              }
            }
          },
          "401": {
            "description": "Every failure carries the same envelope.",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/Error"
                }
              }
            }
          },
          "403": {
            "description": "Every failure carries the same envelope.",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/Error"
                }
              }
            }
          },
          "404": {
            "description": "Every failure carries the same envelope.",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/Error"
                }
              }
            }
          },
          "409": {
            "description": "Every failure carries the same envelope.",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/Error"
                }
              }
            }
          },
          "422": {
            "description": "Every failure carries the same envelope.",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/Error"
                }
              }
            }
          },
          "423": {
            "description": "Every failure carries the same envelope.",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/Error"
                }
              }
            }
          },
          "429": {
            "description": "Every failure carries the same envelope.",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/Error"
                }
              }
            }
          }
        }
      }
    },
    "/transactions/send": {
      "post": {
        "tags": [
          "Transactions"
        ],
        "operationId": "sendTransaction",
        "summary": "Send a signed transaction",
        "description": "Relay a signed Solana transaction from a launch flow: the launch itself, the swap in front of it, the fee-routing step. Only those shapes are forwarded; anything else is refused. Waits up to 8 seconds for confirmation. `confirmed: false` means it was sent but not yet seen; poll /transactions/{signature}.",
        "requestBody": {
          "required": true,
          "content": {
            "application/json": {
              "schema": {
                "$ref": "#/components/schemas/SendTransaction"
              }
            }
          }
        },
        "x-rate-limit": "60 a minute",
        "x-cache": "none",
        "x-flow": "launch-solana",
        "x-example": "/transactions/send",
        "responses": {
          "200": {
            "description": "Sent.",
            "content": {
              "application/json": {
                "schema": {
                  "type": "object",
                  "properties": {
                    "ok": {
                      "type": "boolean",
                      "enum": [
                        true
                      ]
                    },
                    "data": {
                      "$ref": "#/components/schemas/SendResult"
                    }
                  }
                }
              }
            }
          },
          "400": {
            "description": "Every failure carries the same envelope.",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/Error"
                }
              }
            }
          },
          "429": {
            "description": "Every failure carries the same envelope.",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/Error"
                }
              }
            }
          }
        }
      }
    },
    "/transactions/{signature}": {
      "get": {
        "tags": [
          "Transactions"
        ],
        "operationId": "getTransaction",
        "summary": "Transaction status",
        "description": "Whether a relayed transaction has confirmed or failed on chain.",
        "parameters": [
          {
            "name": "signature",
            "in": "path",
            "required": true,
            "description": "The transaction signature, base58.",
            "schema": {
              "type": "string"
            }
          }
        ],
        "x-rate-limit": "120 a minute",
        "x-cache": "2 seconds",
        "x-flow": "launch-solana",
        "x-example": "/transactions/{signature}",
        "responses": {
          "200": {
            "description": "The status.",
            "content": {
              "application/json": {
                "schema": {
                  "type": "object",
                  "properties": {
                    "ok": {
                      "type": "boolean",
                      "enum": [
                        true
                      ]
                    },
                    "data": {
                      "$ref": "#/components/schemas/TransactionStatus"
                    }
                  }
                }
              }
            }
          },
          "400": {
            "description": "Every failure carries the same envelope.",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/Error"
                }
              }
            }
          },
          "429": {
            "description": "Every failure carries the same envelope.",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/Error"
                }
              }
            }
          }
        }
      }
    }
  },
  "components": {
    "schemas": {
      "Error": {
        "type": "object",
        "properties": {
          "ok": {
            "type": "boolean",
            "description": "Always false on a failure."
          },
          "error": {
            "type": "string",
            "description": "A short reason in plain words: `coin not found`, `too many requests`, `invalid wallet signature`."
          }
        }
      },
      "CoinRef": {
        "type": "object",
        "properties": {
          "mint": {
            "type": "string",
            "description": "Mint or contract address."
          },
          "name": {
            "type": "string",
            "description": "Display name."
          },
          "symbol": {
            "type": "string",
            "description": "Ticker."
          },
          "imageUrl": {
            "type": "string",
            "description": "Logo URL.",
            "nullable": true
          },
          "url": {
            "type": "string",
            "description": "The coin's page on purps.lol."
          }
        }
      },
      "CoinPage": {
        "type": "object",
        "properties": {
          "total": {
            "type": "integer",
            "description": "How many coins match, across every page."
          },
          "offset": {
            "type": "integer",
            "description": "The offset this page starts at."
          },
          "limit": {
            "type": "integer",
            "description": "The page size used."
          },
          "flagshipMint": {
            "type": "string",
            "description": "The mint of $PURPS itself."
          },
          "markets": {
            "type": "array",
            "description": "Every perp market symbol some coin on the chosen chain bets on, most used first — the values `market` accepts.",
            "items": {
              "type": "string"
            }
          },
          "items": {
            "type": "array",
            "description": "The coins on this page.",
            "items": {
              "$ref": "#/components/schemas/CoinSummary"
            }
          }
        }
      },
      "CoinSummary": {
        "type": "object",
        "properties": {
          "mint": {
            "type": "string",
            "description": "Mint address on Solana, contract address on Robinhood Chain."
          },
          "chain": {
            "type": "string",
            "description": "Which chain the coin lives on.",
            "enum": [
              "solana",
              "robinhood"
            ]
          },
          "origin": {
            "type": "string",
            "description": "Where it came from. `pump` is a redirected pump.fun coin, `pumpfun` one launched through this site, `pons` a Pons launch on Robinhood Chain.",
            "enum": [
              "launchpad",
              "pumpfun",
              "pump",
              "meteora",
              "pons"
            ]
          },
          "name": {
            "type": "string",
            "description": "Display name."
          },
          "symbol": {
            "type": "string",
            "description": "Ticker."
          },
          "imageUrl": {
            "type": "string",
            "description": "Logo URL.",
            "nullable": true
          },
          "status": {
            "type": "string",
            "description": "`active` once the strategy is running; `pending` before it, `paused` or `stopped` when it is not.",
            "enum": [
              "pending",
              "active",
              "paused",
              "stopped"
            ]
          },
          "createdAt": {
            "type": "string",
            "description": "When the coin was registered here, ISO 8601."
          },
          "url": {
            "type": "string",
            "description": "The coin's page on purps.lol."
          },
          "marketCapUsd": {
            "type": "number",
            "description": "Market cap in US dollars.",
            "nullable": true
          },
          "holders": {
            "type": "integer",
            "description": "Holder count.",
            "nullable": true
          },
          "rewardMode": {
            "type": "string",
            "description": "What profits do: `burn` buys and burns the coin, `holders` airdrops the coin to holders, `backed` airdrops another asset.",
            "enum": [
              "burn",
              "holders",
              "backed"
            ]
          },
          "feeShareBps": {
            "type": "integer",
            "description": "Share of creator fees routed to the strategy, in basis points."
          },
          "legs": {
            "type": "array",
            "description": "The perp positions the strategy holds.",
            "items": {
              "$ref": "#/components/schemas/Leg"
            }
          },
          "openPositions": {
            "type": "integer",
            "description": "How many of those are open right now."
          },
          "accounting": {
            "$ref": "#/components/schemas/Accounting",
            "type": "object",
            "description": "The coin's books."
          },
          "launch": {
            "$ref": "#/components/schemas/LaunchSummary",
            "type": "object",
            "description": "Curve facts for a purps.lol coin, else null.",
            "nullable": true
          }
        }
      },
      "Leg": {
        "type": "object",
        "properties": {
          "market": {
            "type": "string",
            "description": "Perp market, e.g. `ETH` or `xyz:TSLA`. One of /markets."
          },
          "direction": {
            "type": "string",
            "description": "Long or short.",
            "enum": [
              "long",
              "short"
            ]
          },
          "leverage": {
            "type": "number",
            "description": "Leverage multiple, within the market's cap."
          }
        }
      },
      "Accounting": {
        "type": "object",
        "description": "Lifetime figures. Chain amounts are in `unit`; perp amounts are in US dollars.",
        "properties": {
          "unit": {
            "type": "string",
            "description": "The unit of the chain-side figures: `SOL`, or the pair token on Robinhood Chain."
          },
          "feesClaimed": {
            "type": "number",
            "description": "Creator fees claimed so far."
          },
          "boughtBack": {
            "type": "number",
            "description": "Spent buying the coin back."
          },
          "buybackQueued": {
            "type": "number",
            "description": "Waiting to be spent on buybacks."
          },
          "reserve": {
            "type": "number",
            "description": "Held in the coin's reserve."
          },
          "tokensBurned": {
            "type": "number",
            "description": "Coins burned, in whole tokens."
          },
          "tokensPaidOut": {
            "type": "number",
            "description": "Coins airdropped to holders, in whole tokens."
          },
          "marginDepositedUsd": {
            "type": "number",
            "description": "Sent to the perp exchange as margin."
          },
          "realizedProfitUsd": {
            "type": "number",
            "description": "Profit realised on the perp side."
          },
          "realizedLossUsd": {
            "type": "number",
            "description": "Losses realised on the perp side, as a positive figure. Realised profit less this is the net realised PnL."
          },
          "profitWithdrawnUsd": {
            "type": "number",
            "description": "Profit brought back to the chain."
          }
        }
      },
      "LaunchSummary": {
        "type": "object",
        "properties": {
          "quote": {
            "type": "object",
            "description": "The token the curve trades in.",
            "properties": {
              "mint": {
                "type": "string",
                "description": "Quote mint."
              },
              "symbol": {
                "type": "string",
                "description": "Quote ticker."
              }
            }
          },
          "curvePct": {
            "type": "number",
            "description": "How far along the bonding curve, 0 to 100.",
            "nullable": true
          },
          "migrated": {
            "type": "boolean",
            "description": "True once the coin has graduated to a pool."
          },
          "raisedQuote": {
            "type": "number",
            "description": "Quote raised on the curve."
          },
          "paysHolders": {
            "type": "boolean",
            "description": "Whether fees are airdropped to holders."
          },
          "airdrop": {
            "type": "object",
            "description": "The holder airdrops.",
            "properties": {
              "potQuote": {
                "type": "number",
                "description": "Accrued toward the next airdrop."
              },
              "paidQuote": {
                "type": "number",
                "description": "Paid to holders so far."
              },
              "payouts": {
                "type": "integer",
                "description": "Number of airdrops paid."
              },
              "lastAt": {
                "type": "string",
                "description": "When the last one settled.",
                "nullable": true
              },
              "lastHolders": {
                "type": "integer",
                "description": "How many wallets the last one paid.",
                "nullable": true
              }
            }
          }
        }
      },
      "Coin": {
        "type": "object",
        "properties": {
          "mint": {
            "type": "string",
            "description": "Mint or contract address."
          },
          "chain": {
            "type": "string",
            "description": "Which chain.",
            "enum": [
              "solana",
              "robinhood"
            ]
          },
          "origin": {
            "type": "string",
            "description": "Where it came from.",
            "enum": [
              "launchpad",
              "pumpfun",
              "pump",
              "meteora",
              "pons"
            ]
          },
          "name": {
            "type": "string",
            "description": "Display name."
          },
          "symbol": {
            "type": "string",
            "description": "Ticker."
          },
          "imageUrl": {
            "type": "string",
            "description": "Logo URL.",
            "nullable": true
          },
          "status": {
            "type": "string",
            "description": "Coin status."
          },
          "createdAt": {
            "type": "string",
            "description": "ISO 8601."
          },
          "url": {
            "type": "string",
            "description": "The coin's page on purps.lol."
          },
          "marketCapUsd": {
            "type": "number",
            "description": "Market cap in US dollars.",
            "nullable": true
          },
          "circulatingSupply": {
            "type": "number",
            "description": "Supply the market cap is based on.",
            "nullable": true
          },
          "tokenSupply": {
            "type": "number",
            "description": "Total supply as stored.",
            "nullable": true
          },
          "holders": {
            "type": "integer",
            "description": "Holder count.",
            "nullable": true
          },
          "links": {
            "type": "object",
            "description": "Socials, from the token's metadata or its DexScreener profile.",
            "properties": {
              "twitter": {
                "type": "string",
                "description": "X / Twitter URL.",
                "nullable": true
              },
              "telegram": {
                "type": "string",
                "description": "Telegram URL.",
                "nullable": true
              },
              "website": {
                "type": "string",
                "description": "Website URL.",
                "nullable": true
              }
            }
          },
          "pair": {
            "type": "object",
            "description": "The token this coin trades against, when it is not SOL.",
            "nullable": true,
            "properties": {
              "address": {
                "type": "string",
                "description": "Mint or contract address of the pair token."
              },
              "symbol": {
                "type": "string",
                "description": "Pair ticker."
              },
              "decimals": {
                "type": "integer",
                "description": "Pair decimals.",
                "nullable": true
              }
            }
          },
          "exchange": {
            "type": "string",
            "enum": [
              "hyperliquid",
              "orderly"
            ],
            "description": "The perp exchange the coin trades on. An Orderly coin trades from its Solana wallet, so its hyperliquid wallet is null."
          },
          "wallets": {
            "type": "object",
            "description": "The wallets the strategy runs from.",
            "properties": {
              "solana": {
                "type": "string",
                "description": "Solana wallet.",
                "nullable": true
              },
              "hyperliquid": {
                "type": "string",
                "description": "Perp wallet.",
                "nullable": true
              },
              "robinhood": {
                "type": "string",
                "description": "Robinhood Chain wallet.",
                "nullable": true
              }
            }
          },
          "strategy": {
            "$ref": "#/components/schemas/StrategyView",
            "type": "object",
            "description": "How the coin uses its fees. Null for a coin that only exists on the launchpad.",
            "nullable": true
          },
          "accounting": {
            "$ref": "#/components/schemas/Accounting",
            "type": "object",
            "description": "The coin's books."
          },
          "positions": {
            "type": "array",
            "description": "The perp positions the coin page lists, open and recently closed.",
            "items": {
              "$ref": "#/components/schemas/Position"
            }
          },
          "pendingAirdrop": {
            "type": "object",
            "description": "What is waiting for the next holder payout, as the coin page's Pending airdrop row shows it. Null for a coin that burns.",
            "nullable": true,
            "properties": {
              "usd": {
                "type": "number",
                "description": "Dollar value of the pot.",
                "nullable": true
              },
              "assets": {
                "type": "array",
                "description": "The pot per asset: `{ symbol, amount, usd }`.",
                "items": {
                  "type": "object"
                }
              }
            }
          },
          "payoutsPaid": {
            "type": "array",
            "description": "Lifetime holder payouts, per asset: `{ asset, amount, usd }`.",
            "items": {
              "type": "object"
            }
          },
          "activity": {
            "type": "array",
            "description": "The last 40 events on the coin's timeline, newest first.",
            "items": {
              "$ref": "#/components/schemas/Event"
            }
          },
          "launch": {
            "$ref": "#/components/schemas/Launch",
            "type": "object",
            "description": "The purps.lol launch record, else null.",
            "nullable": true
          },
          "prices": {
            "type": "object",
            "description": "Reference prices at the time of the request.",
            "properties": {
              "solUsd": {
                "type": "number",
                "description": "SOL in US dollars.",
                "nullable": true
              },
              "quoteUsd": {
                "type": "number",
                "description": "The pair token in US dollars.",
                "nullable": true
              }
            }
          }
        }
      },
      "StrategyView": {
        "type": "object",
        "properties": {
          "preset": {
            "type": "string",
            "description": "`steady`, `balanced`, `degen`, or `custom` when the rules match no preset. Null for a coin registered before rules existed.",
            "nullable": true
          },
          "rules": {
            "type": "object",
            "description": "The trading rules the coin runs, as the coin page shows them. Null for a coin registered before rules existed.",
            "nullable": true,
            "properties": {
              "tpTriggerPct": {
                "type": "number",
                "description": "Take profit every time the perp is up this much on its margin, percent."
              },
              "tpSlicePct": {
                "type": "number",
                "description": "How much of the position is sold each time, percent."
              },
              "rungCount": {
                "type": "integer",
                "description": "How many dip buys the reserve funds."
              },
              "rungMode": {
                "type": "string",
                "description": "What a dip buy does: `margin` adds margin, `size` buys more, `mixed` does both.",
                "enum": [
                  "margin",
                  "mixed",
                  "size"
                ]
              }
            }
          },
          "rewardMode": {
            "type": "string",
[...]
